{{ if .env.debian -}}
#!/bin/bash
set -euo pipefail

if ! command -v byobu > /dev/null
then
    echo "dotfiles: Installing Byobu..."
    sudo apt-get -q -y install --no-install-recommends byobu
    byobu --version
else
    echo "dotfiles: Byobu is already installed"
fi
{{ end -}}
