#!/bin/bash

echo dotfiles: "$0"

# Install age for Debian to be used for dotfile encryption
if ! command -v age &> /dev/null
then
    echo dotfiles: Installing age
    sudo apt-get -y install --no-install-recommends age
else
    echo dotfiles: Age is already installed
fi

decrypted_identity=~/.dotfiles/identity.key
if [ ! -f "$decrypted_identity" ]; then
    age --decrypt --output "$decrypted_identity" "{{ .chezmoi.sourceDir }}/dot_chezmoi/identity.key.age"
    chmod 600 "$decrypted_identity"
fi
