{{ if or .env.mac .env.debian -}}
#!/bin/bash
set -euo pipefail

echo "dotfiles: Upgrading homebrew packages..."
export HOMEBREW_NO_ENV_HINTS=true
export HOMEBREW_NO_ANALYTICS=true
brew update --quiet
brew upgrade --quiet
{{ end }}

{{ if .env.debian -}}
echo "dotfiles: Upgrading Debian apt packages..."
export DEBIAN_FRONTEND=noninteractive
export DEBIAN_PRIORITY=critical
sudo apt-get -qq update
sudo apt-get -qq upgrade
{{ end -}}
