{{ if .isMac -}}
#!/bin/bash
set -euo pipefail

if ! brew ls -1 1password > /dev/null || ! command -v op > /dev/null
then
    echo "dotfiles: Installing 1Password desktop app and CLI..."
    brew install --cask 1password
    brew install --cask 1password-cli
else
    echo "dotfiles: 1Password desktop app and CLI already installed"
fi
{{ end -}}

{{ if .isDebian -}}
#!/bin/bash
set -euo pipefail

if ! command -v 1password > /dev/null || ! command -v op > /dev/null
then
    echo "dotfiles: Installing 1Password desktop app and CLI..."

    curl --fail --silent --show-error --location https://downloads.1password.com/linux/keys/1password.asc \
        | sudo gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main" | \
        sudo tee /etc/apt/sources.list.d/1password.list > /dev/null

    sudo mkdir -p /etc/debsig/policies/AC2D62742012EA22/
    curl --fail --silent --show-error --location https://downloads.1password.com/linux/debian/debsig/1password.pol \
        | sudo tee /etc/debsig/policies/AC2D62742012EA22/1password.pol > /dev/null

    sudo mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
    curl --fail --silent --show-error --location https://downloads.1password.com/linux/keys/1password.asc \
        | sudo gpg --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg

    sudo apt-get -qq update
    sudo apt-get -q -y install --no-install-recommends 1password 1password-cli
    op --version
else
    echo "dotfiles: 1Password desktop app and CLI already installed"
fi
{{ end -}}
