{{ if .env.debian -}}
#!/bin/bash
echo "dotfiles: $0"

if ! command -v vlc &> /dev/null
then
    echo "dotfiles: Installing VLC Player"
    sudo apt-get -q -y install --no-install-recommends vlc
    vlc --version
else
    echo "dotfiles: VLC is already installed"
fi
{{ end -}}
