{{- /*https://github.com/twpayne/chezmoi/discussions/2114#discussioncomment-2887508*/ -}}
{{- /* - $packages := list "alpha" "beta" "gamma" */ -}}
{{- /* - $packages | quoteList | join ", " | cat "qqq" | cat "xxx" "yyy" | writeToStdout "a" "b" "c" - */ -}}

# Note: We can't use camelCase for [data] until chezmoi can fix snake_case:
# https://www.chezmoi.io/reference/templates/variables/
encryption = "age"
[age]
    identity = "~/.dotfiles/identity.key"
    recipient = "age1g9zf8v82yt24ns2vm9hfzf8hr53w08mzdmkg7yrkz7xps73j39tqgqhnes"
[edit]
    command = "code"
    args = "--wait"
[data]
    name = {{ promptStringOnce . "name" "Name for git commits" | quote }}
    personal = {{ promptBoolOnce . "personal" "Include personal settings" true }}
    work = {{ promptBoolOnce . "work" "Include work settings" true }}
[data.install]
    ai_tooling = {{ promptBoolOnce .install "ai_tooling" "Include AI tooling" true }}
[data.env]
    mac = {{ eq .chezmoi.os "darwin" }}
    linux = {{ eq .chezmoi.os "linux" }}
    debian = {{ or (eq .chezmoi.osRelease.id "debian") (and (hasKey .chezmoi.osRelease "idLike") (regexMatch "\\bdebian\\b" .chezmoi.osRelease.idLike)) }}
    ubuntu = {{ or (eq .chezmoi.osRelease.id "ubuntu") (and (hasKey .chezmoi.osRelease "idLike") (regexMatch "\\bubuntu\\b" .chezmoi.osRelease.idLike)) }}
    pop = {{ or (eq .chezmoi.osRelease.id "pop") (and (hasKey .chezmoi "osRelease") (hasKey .chezmoi.osRelease "idLike") (regexMatch "\\bpop\\b" .chezmoi.osRelease.idLike)) }}
{{ writeToStdout "Config file generated at " .chezmoi.configFile "\n" -}}
