{{- /*https://github.com/twpayne/chezmoi/discussions/2114#discussioncomment-2887508*/ -}}
{{- /* - $packages := list "alpha" "beta" "gamma" */ -}}
{{- /* - $packages | quoteList | join ", " | cat "qqq" | cat "xxx" "yyy" | writeToStdout "a" "b" "c" - */ -}}

{{- $isLinux := eq .chezmoi.os "linux" -}}
{{- $isDebian := false -}}
{{- $isUbuntu := false -}}
{{- $isPop := false -}}
{{- if hasKey .chezmoi "osRelease" -}}
{{-   $isDebian = or (eq .chezmoi.osRelease.id "debian") (regexMatch "\\bdebian\\b" .chezmoi.osRelease.idLike) -}}
{{-   $isUbuntu = or (eq .chezmoi.osRelease.id "ubuntu") (regexMatch "\\bubuntu\\b" .chezmoi.osRelease.idLike) -}}
{{-   $isPop    = or (eq .chezmoi.osRelease.id "pop"   ) (regexMatch "\\bpop\\b"    .chezmoi.osRelease.idLike) -}}
{{- end -}}
{{- $isMac := eq .chezmoi.os "darwin" -}}

encryption = "age"
[age]
    identity = "~/.dotfiles/identity.key"
    recipient = "age1g9zf8v82yt24ns2vm9hfzf8hr53w08mzdmkg7yrkz7xps73j39tqgqhnes"
[edit]
    command = "code"
    args = "--wait"
[data]
    isLinux = {{ $isLinux }}
    isDebian = {{ $isDebian }}
    isUbuntu = {{ $isUbuntu }}
    isMac = {{ $isMac }}
    name = {{ promptStringOnce . "name" "Name for git commits" | quote }}
    includePersonalSettings = {{ promptBoolOnce . "includePersonalSettings" "Include personal settings" true }}
    includeWorkSettings = {{ promptBoolOnce . "includeWorkSettings" "Include work settings" true }}
    installAiTooling = {{ promptBoolOnce . "installAiTooling" "Include AI tooling" true }}
{{ writeToStdout "Config file generated at " .chezmoi.configFile "\n" -}}
