{{- /*https://github.com/twpayne/chezmoi/discussions/2114#discussioncomment-2887508*/ -}}
{{- /* - $packages := list "alpha" "beta" "gamma" */ -}}
{{- /* - $packages | quoteList | join ", " | cat "qqq" | cat "xxx" "yyy" | writeToStdout "a" "b" "c" - */ -}}
{{- /* writeToStdout (toString (typeOf .chezmoi)) */ -}}
{{- /* writeToStdout (toString (hasKey .chezmoi.osRelease "idLike")) */ -}}
{{- /* writeToStdout "***\n" */ -}}

{{ $mac := eq .chezmoi.os "darwin" -}}
{{ $linux := eq .chezmoi.os "linux" }}
{{ $pop := false -}}
{{ $ubuntu := false -}}
{{ $debian := false -}}
{{ if not (eq (typeOf .chezmoi.osRelease) "<nil>") -}}
    {{ $pop = eq .chezmoi.osRelease.id "pop" -}}
    {{ $ubuntu = eq .chezmoi.osRelease.id "ubuntu" -}}
    {{ $debian = eq .chezmoi.osRelease.id "debian" -}}
    {{ if hasKey .chezmoi.osRelease "idLike" -}}
        {{ $pop = regexMatch "\\bpop\\b" .chezmoi.osRelease.idLike -}}
        {{ $ubuntu = regexMatch "\\bubuntu\\b" .chezmoi.osRelease.idLike -}}
        {{ $debian = regexMatch "\\bdebian\\b" .chezmoi.osRelease.idLike -}}
    {{ end -}}
{{ end -}}

encryption = "age"

[age]
    identity = "~/.dotfiles/identity.key"
    recipient = "age1g9zf8v82yt24ns2vm9hfzf8hr53w08mzdmkg7yrkz7xps73j39tqgqhnes"

[edit]
    command = "code"
    args = "--wait"

[data]
    name = {{ promptStringOnce . "name" "Name for git commits" | quote }}

[data.env]
    mac = {{ $mac }}
    linux = {{ $linux }}
    pop = {{ $pop }}
    ubuntu = {{ $ubuntu }}
    debian = {{ $debian }}

{{ writeToStdout "Config file generated at " .chezmoi.configFile "\n" -}}
