{{ if .env.mac -}}
source ~/.dotfiles/env
source ~/.dotfiles/aliases
source ~/.dotfiles/functions

# Load default zsh completions (including git; check $fpath for full list)
autoload -U compinit && compinit

# Brew (note: should come before init scripts from packages it installs)
eval "$(/opt/homebrew/bin/brew shellenv)"

# Starship
eval "$(starship init zsh)"

# Get bash-like help, especially for zsh built-ins
unalias run-help
autoload run-help
alias help=run-help
{{ end -}}
