[core]
    editor = nano
    excludesfile = {{ .chezmoi.homeDir }}/.gitignore

[user]
    name = {{ .name }}

[alias]
    # https://stackoverflow.com/a/11768843/9207275
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"

    # https://stackoverflow.com/a/25387310/9207275
    # maybe update to skip-worktree? https://stackoverflow.com/a/13631525/9207275
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    hidden = ! git ls-files -v | grep '^h' | cut -c3-

# Delta config
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only # using --color-only supports `git add --patch`
[add.interactive]
    useBuiltin = false # needed for git 2.37.0
[delta]
    navigate = true # use n and N to move between diff sections
    syntax-theme = base16
    line-numbers = true
    plus-style = "green reverse normal"
    minus-style = "red reverse normal"
    minus-emph-style = "red reverse italic normal"
    plus-emph-style = "green reverse italic normal"
    plus-non-emph-style = "green reverse dim normal"
    minus-non-emph-style = "red reverse dim normal"
