# todo: Migrate away from using this and instead manage .bashrc directly
source ~/.dotfiles/aliases
source ~/.dotfiles/functions

# Chezmoi
eval "$(chezmoi completion bash)"

# Starship
eval "$(starship init bash)"
eval "$(starship completions bash)"

 {{ if .env.linux -}}
 # Brew
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
if type brew &>/dev/null
then
  HOMEBREW_PREFIX="$(brew --prefix)"
  if [[ -r "${HOMEBREW_PREFIX}/etc/profile.d/bash_completion.sh" ]]
  then
    source "${HOMEBREW_PREFIX}/etc/profile.d/bash_completion.sh"
  else
    for COMPLETION in "${HOMEBREW_PREFIX}/etc/bash_completion.d/"*
    do
      [[ -r "${COMPLETION}" ]] && source "${COMPLETION}"
    done
  fi
fi
{{ end -}}
