source ~/.dotfiles/env
source ~/.dotfiles/aliases
source ~/.dotfiles/functions

source ~/.dotfiles/external/git-completion.bash

eval "$(chezmoi completion bash)"
eval "$(starship init bash)"
eval "$(starship completions bash)"
eval "$(zoxide init bash)"

{{ if or .env.mac .env.linux -}}
# Init fzf, mirrors $(brew --prefix)/opt/fzf/install
[ -f ~/.fzf.bash ] && source ~/.fzf.bash
{{ end -}}

{{ if .env.linux -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
if type brew &>/dev/null
then
  HOMEBREW_PREFIX="$(brew --prefix)"
  if [[ -r "${HOMEBREW_PREFIX}/etc/profile.d/bash_completion.sh" ]]
  then
    source "${HOMEBREW_PREFIX}/etc/profile.d/bash_completion.sh"
  else
    for COMPLETION in "${HOMEBREW_PREFIX}/etc/bash_completion.d/"*
    do
      [[ -r "${COMPLETION}" ]] && source "${COMPLETION}"
    done
  fi
fi
{{ end -}}
