[core]
    editor = nano
    excludesfile = {{ .chezmoi.homeDir }}/.gitignore

[user]
    name = {{ .name }}

[alias]
    # https://stackoverflow.com/a/11768843/9207275
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"

    # https://stackoverflow.com/a/25387310/9207275
    # maybe update to skip-worktree? https://stackoverflow.com/a/13631525/9207275
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    hidden = ! git ls-files -v | grep '^h' | cut -c3-

    # Prettier git log
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# todo
# Re-add this when dev containers get dotfiles, since otherwise difft is missing
# from within the dev container and since VS Code forwards git config, things
# break.
#
# [diff]
#     external = difft
