{{ $is_windows := eq .chezmoi.os "windows" -}}
{{ $is_mac := eq .chezmoi.os "darwin" -}}
{{ $is_linux := eq .chezmoi.os "linux" -}}
{{ $is_pop_os := false -}}
{{ $is_ubuntu := false -}}
{{ $is_debian := false -}}
{{ if not (eq .chezmoi.os "darwin") -}}
    {{ $is_pop_os = eq .chezmoi.osRelease.id "pop" -}}
    {{ $is_ubuntu = eq .chezmoi.osRelease.id "ubuntu" -}}
    {{ $is_debian = eq .chezmoi.osRelease.id "debian" -}}
    {{ if hasKey .chezmoi.osRelease "idLike" -}}
        {{ $is_pop_os = regexMatch "\\bpop\\b" .chezmoi.osRelease.idLike -}}
        {{ $is_ubuntu = regexMatch "\\bubuntu\\b" .chezmoi.osRelease.idLike -}}
        {{ $is_debian = regexMatch "\\bdebian\\b" .chezmoi.osRelease.idLike -}}
    {{ end -}}
{{ end -}}

encryption = "age"

[age]
identity = "~/.dotfiles/identity.key"
recipient = "age1g9zf8v82yt24ns2vm9hfzf8hr53w08mzdmkg7yrkz7xps73j39tqgqhnes"

[edit]
command = "code"
args = "--wait"

[data]
name = {{ promptStringOnce . "name" "💬 Name for git commits" | quote }}
is_windows = {{ $is_windows }}
is_mac = {{ $is_mac }}
is_linux = {{ $is_linux }}
is_pop_os = {{ $is_pop_os }}
is_ubuntu = {{ $is_ubuntu }}
is_debian = {{ $is_debian }}

{{ writeToStdout "💬 Config file generated at " .chezmoi.configFile "\n" -}}
