{{ $mac := eq .chezmoi.os "darwin" -}}
{{ $linux := eq .chezmoi.os "linux" -}}
{{ $pop_os := false -}}
{{ $ubuntu := false -}}
{{ $debian := false -}}

{{- /* For Linux cross-distro compatibility */ -}}
{{ if not (eq .chezmoi.os "darwin") -}}
    {{ $pop_os = eq .chezmoi.osRelease.id "pop" -}}
    {{ $ubuntu = eq .chezmoi.osRelease.id "ubuntu" -}}
    {{ $debian = eq .chezmoi.osRelease.id "debian" -}}
    {{ if hasKey .chezmoi.osRelease "idLike" -}}
        {{ $pop_os = regexMatch "\\bpop\\b" .chezmoi.osRelease.idLike -}}
        {{ $ubuntu = regexMatch "\\bubuntu\\b" .chezmoi.osRelease.idLike -}}
        {{ $debian = regexMatch "\\bdebian\\b" .chezmoi.osRelease.idLike -}}
    {{ end -}}
{{ end -}}

encryption = "age"

[age]
identity = "~/.dotfiles/identity.key"
recipient = "age1g9zf8v82yt24ns2vm9hfzf8hr53w08mzdmkg7yrkz7xps73j39tqgqhnes"

[edit]
command = "code"
args = "--wait"

[data]
name = {{ promptStringOnce . "name" "💬 Name for git commits" | quote }}

[data.env]
mac = {{ $mac }}
linux = {{ $linux }}
pop_os = {{ $pop_os }}
ubuntu = {{ $ubuntu }}
debian = {{ $debian }}

{{ writeToStdout "💬 Config file generated at " .chezmoi.configFile "\n" -}}

{{- /*
$packages := dict "data" (dict "packages" (list
    (list 
        (dict "name" "irssi")
        (dict "needs" (list "mac" "linux"))
    )
    (list
        (dict "name" "blah")
        (dict "needs" (list "mac" "linux"))
    )
))
*/ -}}