{{ if .env.mac -}}
source ~/.dotfiles/env
source ~/.dotfiles/aliases
source ~/.dotfiles/functions
source ~/.dotfiles/includes/fzf.zsh

# Load default zsh completions (including git; check $fpath for full list)
autoload -U compinit && compinit

# Brew shellenv vars should come before using any brew-installed CLIs below
eval "$(/opt/homebrew/bin/brew shellenv)"

# Init scripts should generally be called after `compinit` above
eval "$(starship init zsh)"
eval "$(zoxide init zsh)"
eval "$(chezmoi completion zsh)"

# Init fzf, mirrors $(brew --prefix)/opt/fzf/install
{{ if or .env.mac .env.linux -}}
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
{{ end -}}

# Get bash-like help, especially for zsh built-ins
unalias run-help
autoload run-help
alias help=run-help
{{ end -}}
