{{ if or .env.mac .env.debian -}}
#!/bin/bash
set -euo pipefail

if ! command -v age > /dev/null
then
    echo "💬 Installing age"
    brew install age
else
    echo "💬 Age is already installed"
fi

if [ ! -f ~/.dotfiles/identity.key ]; then
    echo "💬 Installing age private key"
    mkdir -p ~/.dotfiles/
    age --decrypt \
        --output ~/.dotfiles/identity.key \
        "{{ .chezmoi.sourceDir }}/dot_dotfiles/identity.key.age"
    chmod 600 ~/.dotfiles/identity.key
else
    echo "💬 Age private key is already installed"
fi
{{ end -}}
