{{ if or .env.mac .env.debian -}}
#!/bin/bash
set -euo pipefail

if ! command -v volta > /dev/null
then
    echo "💬 Installing Volta"
    brew install volta
    volta --version
else
    echo "💬 Volta is already installed"
fi

if ! command -v node > /dev/null
then
    echo "💬 Installing Node.js with Volta"
    volta install node
else
    echo "💬 Node.js is already installed"
fi
{{ end -}}
