{{ if or .env.mac .env.linux -}}
#!/bin/bash
set -euo pipefail

if ! command -v irssi > /dev/null
then
    echo "💬 Installing irssi"
    brew install --quiet irssi
    irssi --version
else
    echo "💬 irssi is already installed"
fi

# todo: Configure https://irssi.org/New-users/
# todo: Brew installs irssi ~1.2 but Irssi GitHub is on 1.4, we should
#       consider building Irssi ourselves by following `.git/HEAD` in already
#       chezmoi-managed repo using `.chezmoiexternal.toml`
{{ end -}}
