{{ if or .env.mac .env.linux -}}
#!/bin/bash
set -euo pipefail

if ! command -v fzf > /dev/null
then
    echo "💬 Installing fzf"
    brew install --quiet fzf
    fzf --version
else
    echo "💬 fzf is already installed"
fi
{{ end -}}
