{{ if or .env.mac .env.linux -}}
#!/bin/bash
set -euo pipefail

if ! command -v difft > /dev/null
then
    echo "💬 Installing Difftastic"
    brew install --quiet difftastic
    difft --version
else
    echo "💬 Difftastic is already installed"
fi
{{ end -}}
