{{ if or .env.mac .env.linux -}}
#!/bin/bash
set -euo pipefail

if ! brew ls -1 fd > /dev/null
then
    echo "💬 Installing fd"
    brew install --quiet fd
    fd --version
else
    echo "💬 fd is already installed"
fi
{{ end -}}
