{{ if or (.env.mac) (.env.linux) -}}
#!/bin/bash

if ! command -v rustc > /dev/null
then
    echo "💬 Installing Rust"
    curl --proto '=https' --tlsv1.3 --fail --silent --show-error https://sh.rustup.rs \
        | /bin/sh -s -- -y
    source "$HOME/.cargo/env"
    rustc --version
else
    echo "💬 Rust is already installed"
fi
{{ end -}}
