{{ if or .env.mac .env.debian -}}
#!/bin/bash
set -euo pipefail

if ! brew ls -1 byobu > /dev/null
then
    echo "💬 Installing byobu"
    brew install byobu
    byobu --version
else
    echo "💬 Byobu is already installed"
fi
{{ end -}}
