{{ if or .env.mac .env.debian -}}
#!/bin/bash
set -euo pipefail

# todo: May also work on Mac; not sure if `/dev/null` exists
if ! command -v starship > /dev/null
then
    echo "💬 Installing Starship"
    brew install --quiet starship
    starship --version
else
    echo "💬 Starship is already installed"
fi
{{ end -}}
