{{ if or .env.mac .env.debian -}}
#!/bin/bash
set -euo pipefail

if ! command -v nu > /dev/null
then
    echo "💬 Installing Nushell"
    brew install --quiet nushell
    nu --version
else
    echo "💬 Nushell is already installed"
fi

# todo: Add homebrew to nushell's path?
# https://www.nushell.sh/book/configuration.html#homebrew
{{ end -}}
