{{ if .env.mac -}}
#!/bin/bash
set -euo pipefail

if ! brew ls -1 signal > /dev/null
then
    echo "💬 Installing Signal"
    brew install --cask signal
else
    echo "💬 Signal is already installed"
fi
{{ end -}}
